.our-commitment {
  display: flex;
  align-items: center;
  gap: 5%; 
  padding: 40px;
  background-color: #faf7f1;

  .image {
    flex-shrink: 0; 
    width: 350px;   
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 10px;
    }
  }

  .content {
    width: 60%;   
    color: #17181e;

    h2 {
  
      margin-bottom: 20px;
    }

    p {
      line-height: 1.6;
    
      color: #6d6e73;
    }
  }
}

 @media (max-width: 500px) {
    
    .image {
      width: 250px;
    }

    .content {
      h2 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
